<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedkeys 获取数据库自增主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用别名替换列名 默认true-->
        <setting name="useColumnLabel" value="true"/>
        <!--开始驼峰命名转换：tbale（create_time) -> entity(createTime)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
</configuration>